div{
    height: 400px;
    width: 200px;
    background-color: rgb(221, 214, 205);
    display: inline-block;
    margin: 5px;
}


img{
    height: 300px;
    width: 200px;
}
p{
    padding: 0 5px;
    margin-top: 0px;
}

div{
    box-shadow: 3px 3px 10px black;
}
div:hover{
    transform:scale(1.2) ;
}