#outer{
    background-color: olivedrab;
    height: 200px;
    width: 200px;
    transition-duration: 2s;
}

#outer:hover{
    background-color: blue;
    border-radius: 50%;
    transform: rotate(45deg);

}