#outer{
    background-color: rgb(225, 235, 231);
    height:800px ;
    width:80% ;
    margin: 10px auto;
    border: 2px solid black;
    text-align: center;
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;

}

h1{
    text-align: center;
}

#outer div{
    height: 100px;
    width: 100px;
    color:white;
    text-align: center;
}